In [2]:
import pandas as pd

In [137]:
df = pd.read_csv('summarizations.csv')
df

,SatelliteID,Summarization,Captions,GroundImageIDs
0,1541,The image features a small statue or sculpture...,1. The image features a small statue or sculpt...,13946670082
1,1665,This image depicts an empty street on a rainy ...,1. The image depicts an empty street on a rain...,15483670089
2,2406,This image depicts a cave with a small stream ...,1. The image depicts a cave with a small strea...,8604640080
3,2407,This image depicts a cave with a small stream ...,1. The image depicts a cave with a small strea...,8604640080
4,3597,A woman is standing in a bouncy house filled w...,1. The image depicts a woman standing in a bou...,37274280082
...,...,...,...,...
178,287515,The satellite image features a large metal obj...,"1. The image features a large metal object, po...",48091350082
179,287517,"The image features a large metal object, possi...","1. The image features a large metal object, po...",48091350082
180,287707,The image features a snow-covered roof with a ...,1. The image features a snow-covered roof with...,52647390089
181,287708,The image features a snow-covered roof with a ...,1. The image features a snow-covered roof with...,52647390089
182,289329,The image depicts a lively restaurant scene wi...,1. The image depicts a lively restaurant scene...,53006770089

In [138]:
print(df['Summarization'][0])

The image features a small statue or sculpture of a person's head, possibly a witch or a demon, sitting on top of a table. The statue appears

In [139]:
print(df['Captions'][0])

1. The image features a small statue or sculpture of a person's head, possibly a witch or a demon, sitting on top of a table. The statue appears to be made of ceramic or a similar material, giving it a unique and intriguing appearance.   In the background, there are two chairs, one on the left side and the other on the right side of the table. Additionally, there is a bowl placed on the table, slightly to the left of the center of the image. The combination of the statue, chairs, and bowl creates an interesting and visually engaging scene.

In [140]:
print(df['GroundImageIDs'][0])

13946670082

In [141]:
print(df['Summarization'][1])

This image depicts an empty street on a rainy day. The road is wet, reflecting the cloudy sky above. The street is lined with trees on both sides

In [142]:
print(df['Captions'][1])

1. The image depicts an empty street on a rainy day. The road is wet, reflecting the cloudy sky above. The street is lined with trees on both sides, creating a serene atmosphere. There are a few cars parked on the side of the road, and a truck can be seen further down the street. Additionally, a bird is perched on a power line, adding a touch of nature to the scene. The overall mood of the image is calm and peaceful, despite the rainy weather.

In [143]:
print(df['GroundImageIDs'][1])

15483670089

In [144]:
print(df['Summarization'][2])

This image depicts a cave with a small stream of water flowing through it. The cave is surrounded by lush green vegetation, creating a serene and natural atmosphere.

In [145]:
print(df['Captions'][2])

1. The image depicts a cave with a small stream of water flowing through it. The cave is surrounded by lush green vegetation, creating a serene and natural atmosphere. The stream of water is located in the middle of the cave, and it appears to be the main focus of the scene.   In addition to the water and vegetation, there is a person visible in the background, possibly exploring the cave or enjoying the scenery. The combination of the cave, water, and greenery creates a picturesque and captivating environment.

In [146]:
print(df['GroundImageIDs'][2])

8604640080

### Not yet to the step where can have multiple captions for one satellite image, need to try on more data

numpy.int64

In [9]:
df = pd.read_csv('summarizations_subset.csv')
df

,SatelliteID,Summarization,Captions,GroundImageIDs
1541,The image features a statue of a person's head...,1. The image features a small statue or sculpt...,13946670082,1541
1665,This image depicts an empty street on a rainy ...,1. The image depicts an empty street on a rain...,15483670089,1665
2406,The image depicts a cave with a small stream o...,1. The image depicts a cave with a small strea...,8604640080,2406