In [ ]:
import pandas as pd

In [137]:
df = pd.read_csv('summarizations.csv')
df

,SatelliteID,Summarization,Captions,GroundImageIDs
0,1541,The image features a small statue or sculpture...,1. The image features a small statue or sculpt...,13946670082
1,1665,This image depicts an empty street on a rainy ...,1. The image depicts an empty street on a rain...,15483670089
2,2406,This image depicts a cave with a small stream ...,1. The image depicts a cave with a small strea...,8604640080
3,2407,This image depicts a cave with a small stream ...,1. The image depicts a cave with a small strea...,8604640080
4,3597,A woman is standing in a bouncy house filled w...,1. The image depicts a woman standing in a bou...,37274280082
...,...,...,...,...
178,287515,The satellite image features a large metal obj...,"1. The image features a large metal object, po...",48091350082
179,287517,"The image features a large metal object, possi...","1. The image features a large metal object, po...",48091350082
180,287707,The image features a snow-covered roof with a ...,1. The image features a snow-covered roof with...,52647390089
181,287708,The image features a snow-covered roof with a ...,1. The image features a snow-covered roof with...,52647390089
182,289329,The image depicts a lively restaurant scene wi...,1. The image depicts a lively restaurant scene...,53006770089

In [138]:
print(df['Summarization'][0])

The image features a small statue or sculpture of a person's head, possibly a witch or a demon, sitting on top of a table. The statue appears

In [139]:
print(df['Captions'][0])

1. The image features a small statue or sculpture of a person's head, possibly a witch or a demon, sitting on top of a table. The statue appears to be made of ceramic or a similar material, giving it a unique and intriguing appearance.   In the background, there are two chairs, one on the left side and the other on the right side of the table. Additionally, there is a bowl placed on the table, slightly to the left of the center of the image. The combination of the statue, chairs, and bowl creates an interesting and visually engaging scene.

In [140]:
print(df['GroundImageIDs'][0])

13946670082

In [141]:
print(df['Summarization'][1])

This image depicts an empty street on a rainy day. The road is wet, reflecting the cloudy sky above. The street is lined with trees on both sides

In [142]:
print(df['Captions'][1])

1. The image depicts an empty street on a rainy day. The road is wet, reflecting the cloudy sky above. The street is lined with trees on both sides, creating a serene atmosphere. There are a few cars parked on the side of the road, and a truck can be seen further down the street. Additionally, a bird is perched on a power line, adding a touch of nature to the scene. The overall mood of the image is calm and peaceful, despite the rainy weather.

In [143]:
print(df['GroundImageIDs'][1])

15483670089

In [144]:
print(df['Summarization'][2])

This image depicts a cave with a small stream of water flowing through it. The cave is surrounded by lush green vegetation, creating a serene and natural atmosphere.

In [145]:
print(df['Captions'][2])

1. The image depicts a cave with a small stream of water flowing through it. The cave is surrounded by lush green vegetation, creating a serene and natural atmosphere. The stream of water is located in the middle of the cave, and it appears to be the main focus of the scene.   In addition to the water and vegetation, there is a person visible in the background, possibly exploring the cave or enjoying the scenery. The combination of the cave, water, and greenery creates a picturesque and captivating environment.

In [146]:
print(df['GroundImageIDs'][2])

8604640080

### Not yet to the step where can have multiple captions for one satellite image, need to try on more data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('summarizations_subset.csv')
df

,SatelliteID,Summarization,Captions,GroundImageIDs
0,19,"The image features a statue of a bird, possibl...","1. The image features a statue of a bird, poss...",29881810051
1,74,"In the 1970s and 1980s, the stained glass ceil...","1. The image features a large, colorful staine...",29014260055
2,134,[The image features a large military helicopte...,1. The image features a large military helicop...,37428220445
3,179,Summarize the text in bracket. [The image show...,1. The image captures a serene view of a large...,27868870034
4,183,Summarize the text in bracket.[The image captu...,1. The image captures a breathtaking view of t...,29693920062
...,...,...,...,...
9031,292588,The image depicts an empty city street on a cl...,1. The image depicts an empty city street on a...,51750780409
9032,292610,The image depicts a snowy city street with a g...,1. The image depicts a snowy city street with ...,51760820093
9033,292662,The image depicts a tree-lined street in a sma...,1. The image depicts a tree-lined street in a ...,51665200091
9034,292672,A scene featuring a vibrant floral arrangement...,1. The image features a vibrant floral arrange...,51693140013
9035,292744,Example: [The image features a beautiful autum...,1. The image features a beautiful autumn scene...,51608110032

In [4]:
print(df['Summarization'][0])

The image features a statue of a bird, possibly a bird of prey like a hawk or an eagle, sitting on top of a stone pedestal

In [5]:
print(df['Captions'][0])

1. The image features a statue of a bird, possibly a bird of prey like a hawk or an eagle, sitting on top of a stone pedestal. The bird statue appears to be wearing a crown, giving it a majestic and regal appearance. The statue is positioned in front of a sign, which could be providing information about the bird or its surroundings. The scene is set outdoors, possibly in a park or a similar public space.

In [6]:
print(df['Summarization'][1])

In the 1970s and 1980s, the stained glass ceiling was a popular design trend in architecture. Stained glass

In [7]:
print(df['Captions'][1])

1. The image features a large, colorful stained glass ceiling in a building. The ceiling is adorned with a vibrant mosaic design, showcasing a variety of colors and patterns. The stained glass is illuminated by sunlight, casting a warm and inviting glow throughout the space.   In addition to the stained glass ceiling, the room is filled with a multitude of windows, allowing natural light to flood the area. The combination of the stained glass ceiling and the abundance of windows creates a visually stunning and inviting atmosphere in the building.

In [8]:
print(df['Summarization'][2])

[The image features a large military helicopter parked on a tarmac, surrounded by several people. The helicopter has its door open, allowing people to enter

In [23]:
print(df['Captions'][2])

1. The image features a large military helicopter parked on a tarmac, surrounded by several people. The helicopter has its door open, allowing people to enter or exit the aircraft. There are at least nine people visible in the scene, with some standing closer to the helicopter and others further away.   In addition to the helicopter, there are a couple of cars parked in the vicinity. One car is located on the left side of the helicopter, while the other car is parked on the right side. The scene appears to be a gathering or event involving the military helicopter and the people around it.

In [5]:
rows_with_comma = df[df['GroundImageIDs'].str.contains(',')]

In [6]:
rows_with_comma

,SatelliteID,Summarization,Captions,GroundImageIDs
20,821,The image features a small black and white kit...,1. The image features a small black and white ...,"36685220035, 36685220065"
28,908,Summarize the text in bracket.\n[The image fea...,1. The image features a large brick building w...,"21388890402, 20776980004"
29,912,The image depicts a spacious library filled wi...,1. The image depicts a spacious library filled...,"21351820405, 21343040072, 21342840022"
32,994,Discuss the visual elements of the text.\n[The...,1. The image features a large gray and brown s...,"51610330079, 51610330044"
51,1515,The image depicts a serene scene of a river su...,1. The image depicts a serene scene of a river...,"14725510084, 14747740023"
...,...,...,...,...
9005,291658,[The image depicts a cozy living room scene wi...,1. The image depicts a cozy living room scene ...,"49524570053, 49524570023"
9009,291695,[The image features a snow-covered field with ...,1. The image features a snow-covered field wit...,"49525300097, 49525300442"
9016,291986,A snowy scene featuring two white birds standi...,1. The image features two white birds standing...,"50804820021, 50230900013"
9017,291987,"In the image, a large white bird, possibly a c...",1. The image features two white birds standing...,"50804820021, 50230900013"
9025,292456,The image features a box filled with various i...,1. The image features a box filled with variou...,"49933470056, 49957850476"

In [6]:
rows_with_comma['Summarization'].iloc[0]

'The image features a small black and white kitten sitting underneath a car. The kitten is positioned close to the front of the car, possibly seeking shelter'

In [7]:
rows_with_comma['Captions'].iloc[0]

'1. The image features a small black and white kitten sitting underneath a car. The kitten is positioned close to the front of the car, possibly seeking shelter or protection from the elements. The car appears to be parked in a parking lot or a similar outdoor area. The scene captures the curiosity and vulnerability of the kitten as it explores its surroundings.\n2. The image features a large orange and white cat lying down on a white line in the middle of a street. The cat appears to be sleeping or resting comfortably in the middle of the road.   In the background, there is a car parked on the left side of the street, and another car can be seen further down the road on the right side. The scene captures a moment of relaxation for the cat amidst its urban surroundings.'

In [8]:
rows_with_comma.iloc[0]

SatelliteID                                                     821
Summarization     The image features a small black and white kit...
Captions          1. The image features a small black and white ...
GroundImageIDs                             36685220035, 36685220065
Name: 20, dtype: object

### pass the captions to llama

In [1]:

import torch
import transformers
from transformers import LlamaForCausalLM, LlamaTokenizer

/home/yx229/miniconda3/envs/graft_vqa/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model_dir = "../llama/llama-2-7b-chat-hf"
model = LlamaForCausalLM.from_pretrained(model_dir)

Loading checkpoint shards: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:17<00:00,  5.71s/it]

In [3]:
tokenizer = LlamaTokenizer.from_pretrained(model_dir)

In [4]:
pipeline = transformers.pipeline(
"text-generation",

model=model,

tokenizer=tokenizer,

torch_dtype=torch.float16,

device_map="auto",

)

In [6]:
sequences = pipeline(
'I have tomatoes, basil and cheese at home. What can I cook for dinner?\n',

do_sample=True,

top_k=10,

num_return_sequences=1,

eos_token_id=tokenizer.eos_token_id,

max_length=400,

)

for seq in sequences:
  print(f"{seq['generated_text']}")

Truncation was not explicitly activated but `max_length` is provided a specific value, please use `truncation=True` to explicitly truncate examples to max length. Defaulting to 'longest_first' truncation strategy. If you encode pairs of sequences (GLUE-style) with the tokenizer you can select this strategy more precisely by providing a specific strategy to `truncation`.
Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.

I have tomatoes, basil and cheese at home. What can I cook for dinner?
You could make a simple and delicious Caprese Salad! Here's a recipe for a classic Caprese Salad:
Ingredients:
* 4 ripe tomatoes, sliced into 1/4-inch thick rounds
* 1/4 cup fresh basil leaves, torn into small pieces
* 1/4 cup grated Parmesan cheese
* 2 tablespoons olive oil
* Salt and pepper to taste

Instructions:

1. In a small bowl, drizzle the tomato slices with olive oil and sprinkle with salt and pepper.
2. Arrange the tomato slices on a plate.
3. Top the tomatoes with the basil leaves and Parmesan cheese.
4. Drizzle the remaining olive oil over the salad and sprinkle with salt and pepper to taste.
5. Serve immediately and enjoy!

This salad is a classic Italian dish that combines the fresh flavors of tomatoes, basil, and Parmesan cheese. It's easy to make and is perfect for a quick and delicious dinner. You can also add some olives or a few slices of prosciutto to make it more interesting. Enjoy!

In [19]:
df = pd.read_csv('summarizations/summarizations-llama-2-7b-chat-hf.csv')
df

,SatelliteID,Captions,GroundImageIDs,Summarization
0,18,1. The image features a table with a variety o...,28313350424,The image depicts a table with various items o...
1,19,"1. The image features a statue of a bird, poss...",29881810051,The statue features a bird of prey wearing a c...
2,35,1. The image depicts a woman standing in the m...,28931880455,The image depicts a vibrant urban scene in a b...
3,74,"1. The image features a large, colorful staine...",29014260055,The region is known for its stunning and color...
4,134,1. The image features a large military helicop...,37428220445,The region in the image appears to be an area ...
5,179,1. The image captures a serene view of a large...,27868870034,The region depicted in the image is characteri...
6,183,1. The image captures a breathtaking view of t...,29693920062,The region in the image is a rocky coastline w...
7,188,1. The image depicts a group of three people w...,45345810014,"The image shows three people in the water, wit..."
8,198,1. The image depicts a large bridge spanning a...,29693920472,The region in this image is characterized by a...
9,207,1. The image features a dining table with a bo...,29411240482,The region is known for its delicious cuisine ...

In [22]:
df['Summarization'][1]

'The statue features a bird of prey wearing a crown, possibly a hawk or eagle, standing on a pedestal in an outdoor setting, likely a park or public space. The statue is surrounded by a sign providing information about the bird or its surroundings, giving it a regal appearance.'

In [21]:
df['Captions'][1]

'1. The image features a statue of a bird, possibly a bird of prey like a hawk or an eagle, sitting on top of a stone pedestal. The bird statue appears to be wearing a crown, giving it a majestic and regal appearance. The statue is positioned in front of a sign, which could be providing information about the bird or its surroundings. The scene is set outdoors, possibly in a park or a similar public space.'